:root {
  --floatColor: #fce762;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Special Gothic Expanded One';
  background-color: #30323d;
  font-size: 2rem;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #cdd1c4;
  gap: 2rem;
}

h1 {
  text-shadow: 2px 2px 1px #07070a;
  font-size: 6rem;
}

.main-container {
  border: 4px solid #e8c547;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #1e1e1e;
  position: relative;
  overflow: hidden;
}

.square {
  background-color: #cdd1c4;
  display: grid;
  place-items: center;
  font-size: 2rem;
  width: 120px;
  text-shadow: 0 0 1px #fff;
  height: 120px;
  border: 1px solid #e8c547;
  color: #30323d;
}

.game-status {
  text-shadow: 2px 2px 1px #07070a;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  text-shadow: 2px 2px 1px #07070a;

  input {
    border: 2px solid transparent;
    height: 1.4rem;
    border-radius: 0.4rem;
    padding: 0.4rem;
    transition: border 0.1s ease-out;
  }

  input:focus {
    outline: none;
    border: 2px solid #e8c547;
  }
}

button {
  margin: 0 auto;
  padding: 0.8rem 1rem;
  background-color: #cdd1c4;
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: 0.4rem;
  border: 4px solid transparent;
  cursor: pointer;
  box-shadow: 4px 4px 4px 1px #07070a;
  transition:
    transform 0.1s ease-out,
    filter 0.1s ease-out;
}

button:hover {
  border: 4px solid #e8c547;
  box-shadow: 1px 1px 1px 1px #07070a;
  transform: translate(1px, 1px);
  filter: drop-shadow(0 0 4px var(--floatColor));
}

.hidden {
  display: none;
}

.floating {
  animation: float 4s ease-out infinite;
}

@keyframes float {
  0% {
    filter: drop-shadow(0 0 1px var(--floatColor));
  }
  50% {
    filter: drop-shadow(0 0 16px var(--floatColor));
  }
  100% {
    filter: drop-shadow(0 0 1px var(--floatColor));
  }
}
