*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #e1e1e1;
  font-size: 2rem;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: #e1e1e1;
  border: 2px solid fuchsia;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #1e1e1e;
}

.square {
  border: 1px solid red;
  display: grid;
  place-items: center;
  font-size: 2rem;
  height: 120px;
  width: 120px;
}
